<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="header">
      <ion-icon name="menu-sharp" size="large" id="menu"></ion-icon>
      <img src="assets/logo_nike.png" id="logonike" width="70" height="60">
      <ion-icon name="person-sharp" size="large" id="person"></ion-icon>
    </div>
  </div>
  <div class="ion-text-center">
    <ion-button id="item1"><img src="assets/tenisVitem.png"></ion-button>
    <ion-button id="item2"><img src="assets/tenisAitem.png"></ion-button>
    <ion-button id="item3"><img src="assets/tenisRitem.png"></ion-button>
  </div>
  <img src="assets/tenisV_tab2.png" id="tenis_tab2">
  <h1>KYRIE INFINITY</h1>
  <h3>Calçados para Basquete</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
  <h3 id="price">Preço</h3>
  <div class="texts">
    <h1>$ 799</h1>
    <div class="buttons">
      <ion-button shape="round" id="share">
        <ion-icon name="share-outline" id="share-icon" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button shape="round" id="buy">
        <ion-icon name="cart-outline" id="cart-icon" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>