<ion-content [fullscreen]="true">
  <img class="ion-padding" src="assets/logo.svg">
  <div id="product">
    <img src="assets/tenisV_tab1.png" alt="Kyrie">
    <h1 id="title">SUMMER COLLECTIONS</h1>
    <h1 id="year">2022</h1>
    <p id="desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.
    </p>
  </div>
  <div class="ion-text-center">
    <ion-button class="ion-padding" size="large" shape="round">
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Get Started
    </ion-button>
  </div>
</ion-content>